<div class="row">
    <div class="col-12 animated fadeInUp">
        <div class="card card-padd">
            <div class="card-body blog-form">
                <form [formGroup]="userEditForm" (ngSubmit)="onSubmit(userEditForm)" class="form-horizontal form-material">
                    <div class="row">
                        <h2 class="col-12">{{'Datos personales'|translate}}</h2><br><br>
                        <div class="clear"></div>
                        <div class="form-group camp col-sm-6 col-12 col-md-4">
                            <label> {{'Nombres'|translate}}</label>
                            <input type="text" formControlName="name" class="form-control" required pattern="[a-zA-Z]+">

                        </div>
                        <div class="form-group camp col-sm-6 col-12 col-md-4">
                            <label>{{'Apellidos'|translate}} </label>
                            <input type="text" formControlName="surname" class="form-control" required pattern="[a-zA-Z]+">

                        </div>
                        <div class="form-group camp col-sm-6 col-12 col-md-4">
                            <label>{{'Número de pasaporte'|translate}}  </label>
                            <input type="text" formControlName="pasaporte" class="form-control" pattern="[a-zA-Z]+">

                        </div>

                        <div class="form-group camp col-sm-6 col-12 col-md-4">
                            <label>{{'Fecha de nacimiento'|translate}} </label>
                            <input type="date" formControlName="fecha_nac" class="form-control datepicker" placeholder="día/mes/año">

                        </div>

                        <div class="form-group camp col-sm-6 col-12 col-md-4">
                            <label>{{'Edad'|translate}} </label>
                            <input type="number" formControlName="edad" class="form-control" min="0" max="150">
                        </div>
                        <div class="form-group camp col-12 col-sm-6 col-md-4">
                            <label> {{'Lugar de nacimiento'|translate}}</label>
                            <select type="select" formControlName="lugar_nac" class="form-control">
                                <option value="">{{'Seleccione'|translate}}</option>
                                <option value="Afganistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>
                                <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Aruba">Aruba</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Azerbaijan">Azerbaijan</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Belize">Belize</option>
                                <option value="Benin">Benin</option>
                                <option value="Bermuda">Bermuda</option>
                                <option value="Bhutan">Bhutan</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Bonaire">Bonaire</option>
                                <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Brazil">Brazil</option>
                                <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                <option value="Brunei">Brunei</option>
                                <option value="Bulgaria">Bulgaria</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Canada">Canada</option>
                                <option value="Canary Islands">Canary Islands</option>
                                <option value="Cape Verde">Cape Verde</option>
                                <option value="Cayman Islands">Cayman Islands</option>
                                <option value="Central African Republic">Central African Republic</option>
                                <option value="Chad">Chad</option>
                                <option value="Channel Islands">Channel Islands</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Christmas Island">Christmas Island</option>
                                <option value="Cocos Island">Cocos Island</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Comoros">Comoros</option>
                                <option value="Congo">Congo</option>
                                <option value="Cook Islands">Cook Islands</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cote DIvoire">Cote DIvoire</option>
                                <option value="Croatia">Croatia</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Curaco">Curacao</option>
                                <option value="Cyprus">Cyprus</option>
                                <option value="Czech Republic">Czech Republic</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Dominica">Dominica</option>
                                <option value="Dominican Republic">Dominican Republic</option>
                                <option value="East Timor">East Timor</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egypt">Egypt</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                <option value="Eritrea">Eritrea</option>
                                <option value="Estonia">Estonia</option>
                                <option value="Ethiopia">Ethiopia</option>
                                <option value="Falkland Islands">Falkland Islands</option>
                                <option value="Faroe Islands">Faroe Islands</option>
                                <option value="Fiji">Fiji</option>
                                <option value="Finland">Finland</option>
                                <option value="France">France</option>
                                <option value="French Guiana">French Guiana</option>
                                <option value="French Polynesia">French Polynesia</option>
                                <option value="French Southern Ter">French Southern Ter</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Gambia">Gambia</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Germany">Germany</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Gibraltar">Gibraltar</option>
                                <option value="Great Britain">Great Britain</option>
                                <option value="Greece">Greece</option>
                                <option value="Greenland">Greenland</option>
                                <option value="Grenada">Grenada</option>
                                <option value="Guadeloupe">Guadeloupe</option>
                                <option value="Guam">Guam</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Guinea">Guinea</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Haiti">Haiti</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Hong Kong">Hong Kong</option>
                                <option value="Hungary">Hungary</option>
                                <option value="Iceland">Iceland</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="India">India</option>
                                <option value="Iran">Iran</option>
                                <option value="Iraq">Iraq</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Isle of Man">Isle of Man</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Kazakhstan">Kazakhstan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Kiribati">Kiribati</option>
                                <option value="Korea North">Korea North</option>
                                <option value="Korea Sout">Korea South</option>
                                <option value="Kuwait">Kuwait</option>
                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                <option value="Laos">Laos</option>
                                <option value="Latvia">Latvia</option>
                                <option value="Lebanon">Lebanon</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Libya">Libya</option>
                                <option value="Liechtenstein">Liechtenstein</option>
                                <option value="Lithuania">Lithuania</option>
                                <option value="Luxembourg">Luxembourg</option>
                                <option value="Macau">Macau</option>
                                <option value="Macedonia">Macedonia</option>
                                <option value="Madagascar">Madagascar</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Maldives">Maldives</option>
                                <option value="Mali">Mali</option>
                                <option value="Malta">Malta</option>
                                <option value="Marshall Islands">Marshall Islands</option>
                                <option value="Martinique">Martinique</option>
                                <option value="Mauritania">Mauritania</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Mayotte">Mayotte</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Midway Islands">Midway Islands</option>
                                <option value="Moldova">Moldova</option>
                                <option value="Monaco">Monaco</option>
                                <option value="Mongolia">Mongolia</option>
                                <option value="Montserrat">Montserrat</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Myanmar">Myanmar</option>
                                <option value="Nambia">Nambia</option>
                                <option value="Nauru">Nauru</option>
                                <option value="Nepal">Nepal</option>
                                <option value="Netherland Antilles">Netherland Antilles</option>
                                <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                <option value="Nevis">Nevis</option>
                                <option value="New Caledonia">New Caledonia</option>
                                <option value="New Zealand">New Zealand</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Niger">Niger</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Niue">Niue</option>
                                <option value="Norfolk Island">Norfolk Island</option>
                                <option value="Norway">Norway</option>
                                <option value="Oman">Oman</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Palau Island">Palau Island</option>
                                <option value="Palestine">Palestine</option>
                                <option value="Panama">Panama</option>
                                <option value="Papua New Guinea">Papua New Guinea</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Peru</option>
                                <option value="Phillipines">Philippines</option>
                                <option value="Pitcairn Island">Pitcairn Island</option>
                                <option value="Poland">Poland</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Qatar">Qatar</option>
                                <option value="Republic of Montenegro">Republic of Montenegro</option>
                                <option value="Republic of Serbia">Republic of Serbia</option>
                                <option value="Reunion">Reunion</option>
                                <option value="Romania">Romania</option>
                                <option value="Russia">Russia</option>
                                <option value="Rwanda">Rwanda</option>
                                <option value="St Barthelemy">St Barthelemy</option>
                                <option value="St Eustatius">St Eustatius</option>
                                <option value="St Helena">St Helena</option>
                                <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                <option value="St Lucia">St Lucia</option>
                                <option value="St Maarten">St Maarten</option>
                                <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                                <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                                <option value="Saipan">Saipan</option>
                                <option value="Samoa">Samoa</option>
                                <option value="Samoa American">Samoa American</option>
                                <option value="San Marino">San Marino</option>
                                <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                                <option value="Saudi Arabia">Saudi Arabia</option>
                                <option value="Senegal">Senegal</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Slovakia">Slovakia</option>
                                <option value="Slovenia">Slovenia</option>
                                <option value="Solomon Islands">Solomon Islands</option>
                                <option value="Somalia">Somalia</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Spain">Spain</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="Sudan">Sudan</option>
                                <option value="Suriname">Suriname</option>
                                <option value="Swaziland">Swaziland</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="Syria">Syria</option>
                                <option value="Tahiti">Tahiti</option>
                                <option value="Taiwan">Taiwan</option>
                                <option value="Tajikistan">Tajikistan</option>
                                <option value="Tanzania">Tanzania</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Togo">Togo</option>
                                <option value="Tokelau">Tokelau</option>
                                <option value="Tonga">Tonga</option>
                                <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                                <option value="Tunisia">Tunisia</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Turkmenistan">Turkmenistan</option>
                                <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                                <option value="Tuvalu">Tuvalu</option>
                                <option value="Uganda">Uganda</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="United Arab Erimates">United Arab Emirates</option>
                                <option value="United States of America">United States of America</option>
                                <option value="Uraguay">Uruguay</option>
                                <option value="Uzbekistan">Uzbekistan</option>
                                <option value="Vanuatu">Vanuatu</option>
                                <option value="Vatican City State">Vatican City State</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                <option value="Wake Island">Wake Island</option>
                                <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                                <option value="Yemen">Yemen</option>
                                <option value="Zaire">Zaire</option>
                                <option value="Zambia">Zambia</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                        </div>
                        <div class="form-group camp col-12 col-sm-6 col-md-4">
                            <label> {{'Nacionalidad'|translate}}</label>
                            <input type="text" formControlName="nacionalidad" class="form-control">

                        </div>

                        <div class="form-group camp col-12 col-sm-6 col-md-4">
                            <label>{{'Teléfono'|translate}}</label>
                            <input type="number" formControlName="telefono" class="form-control" placeholder="+58 123-456.789">

                        </div>
                        <div class="form-group camp col-12 col-sm-4">
                            <label>{{'Correo electrónico'|translate}}</label>
                            <input type="text" formControlName="email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

                        </div>

                        <div class="form-group camp col-12 col-sm-4  ">
                            <label>{{'Dirección de contacto '|translate}} </label>
                            <textarea type="text" formControlName="direccion" class="form-control"></textarea>
                        </div>
                        <div class="form-group camp col-12 col-sm-4  ">
                            <label>{{'Código postal '|translate}}</label>
                            <input type="text" formControlName="cod_postal" class="form-control">

                        </div>


                        <div class="form-group camp col-12 col-sm-4">
                            <label> {{'País de ejercicio profesional'|translate}}</label>
                            <select formControlName="pais_ejerce" class="form-control form-control-line">
                              <option value=" ">{{'Seleccione'|translate}}</option>
                              <option value="Argentina">Argentina</option>
                              <option value="Bolivia">Bolivia</option>
                              <option value="Brasil">Brasil</option>
                              <option value="Chile">Chile</option>
                              <option value="Colombia">Colombia</option>
                              <option value="Cuba">Cuba</option>
                              <option value="Ecuador">Ecuador</option>
                              <option value="El Salvador">El Salvador</option>
                              <option value="Guatemala">Guatemala</option>
                              <option value="Haiti">Haiti</option>
                              <option value="Honduras">Honduras</option>
                              <option value="México">México</option>
                              <option value="Nicaragua">Nicaragua</option>
                              <option value="Panama">Panama</option>
                              <option value="Paraguay">Paraguay</option>
                              <option value="Perú">Perú</option>
                              <option value="Uruguay">Uruguay</option>
                              <option value="Venezuela">Venezuela</option>
                          </select>

                        </div>

                        <div class="form-group camp col-12 fotos ">
                            <label> {{'Anexe su foto'|translate}}</label>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div *ngIf="!user.image">
                                        <img src="./assets/images/logo.jpg" class="avatarEdit shadow">
                                    </div>
                                    <div *ngIf="user && user.image ">
                                        <img src="{{url + 'user/avatar/' + user.image}} " class="avatarEdit  shadow">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="especificaciones">
                                        <h4>{{'Especificaciones'|translate}}:</h4>
                                        <ul>
                                            <li>{{'Tamaño máximo'|translate}}: 300px X 300px </li>
                                            <li>{{'Peso máximo'|translate}}: 2 mb </li>
                                            <li>{{'Formato permitido'|translate}}: jpg, .gif, .png </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <angular-file-uploader [config]="afuConfig " (ApiResponse)="avatarUpload($event) ">
                                    </angular-file-uploader>
                                </div>
                            </div>

                        </div>


                        <div class="form-group camp col-12 col-sm-6 ">
                            <label>{{'Número de miembro BLACIBU'|translate}}</label>
                            <input type="text" formControlName="numero_miembro" class="form-control">

                        </div>
                        <div class="form-group camp col-12 col-sm-6  ">
                            <label>{{'Año de certificación BLACIBU'|translate}}</label>
                            <input type="text" formControlName="ano_certificacion" class="form-control" placeholder=" mm/dd/aaaa">

                        </div>
                        <div class="form-group camp col-12 col-sm-6  ">
                            <label>{{'Tiempo de haberse titulado'|translate}}</label>
                            <input type="text" formControlName="tiempo_titulado" class="form-control">

                        </div>
                        <div class="form-group camp col-12 col-sm-6  ">
                            <label>{{'Años de graduado'|translate}}</label>
                            <input type="text" formControlName="ano_graduado" class="form-control">

                        </div>


                        <div class="row card-padd ">
                            <label>{{'Redes sociales'|translate}}</label>
                            <div class="clear"></div><br><br>
                            <div class="form-group row">
                                <div class="form-group camp col-xs-12 col-sm-6 ">
                                    <label> {{'Red social'|translate}}</label>
                                    <input type="text" class="form-control" formControlName="red_social">
                                </div>
                                <div class="form-group camp col-xs-12 col-sm-6 ">
                                    <label> {{'Nombre de usuario'|translate}}</label>
                                    <input type="text" class="form-control" formControlName="user_red">
                                </div>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-outline-success" (click)="agregarPregunta()">Agregar red social</a>
                            </div>
                            <div formArrayName="preguntas">
                                <div *ngFor="let pregunta of preguntas.controls; let i = index">
                                    <div [formGroupName]="i">
                                        <div class="form-group row">
                                            <div class="form-group camp col-xs-12 col-sm-6 ">
                                                <label [attr.for]="'red_social' + i"> {{'Red social'|translate}}</label>
                                                <input type="text" [attr.id]="'red_social' + i" class="form-control" formControlName="red_social">
                                            </div>
                                            <div class="form-group camp col-xs-12 col-sm-6 ">
                                                <label [attr.for]="'user_red' + i"> {{'Nombre de usuario'|translate}}</label>
                                                <input type="text" [attr.id]="'user_red' + i" class="form-control" formControlName="user_red">
                                            </div>

                                            <div class="col-md-2">
                                                <button class="btn btn-danger" (click)="removerPregunta(i)">Remover</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>

                        <div class="clear"></div>
                        <div class="rayita "></div>

                        <h4 class="col-12">Constancia de pago</h4>
                        <p>Mediante transferencia bancaria a la Tesorería de ALACIBU del monto fijado para el proceso de certificación
                        </p>
                        <div class="clear"></div>
                        <div class="row">


                            <div class="form-group camp col-xs-12 col-sm-4 ">
                                <label>{{'Transferencia desde el banco'|translate}}</label>
                                <input type="text" formControlName="transf_banco" class="form-control">
                            </div>
                            <div class="form-group camp col-xs-12 col-sm-4 ">
                                <label> {{'Fecha de Transferencia'|translate}}</label>
                                <input type="date" formControlName="transf_fecha" class="form-control">

                            </div>

                            <div class="form-group camp col-xs-12 col-sm-4 ">
                                <label>{{'Número de Transferencia'|translate}} </label>
                                <input type="text" formControlName="transf_numero" class="form-control">
                            </div>
                            <div class="form-group camp pagos col-12  ">
                                <label>{{'Adjuntar documento pdf transferencia'|translate}} </label><br>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div *ngIf="!pago.transf_pdf">
                                            <img src="./assets/images/pdf-icon.png" style="width: 15%; margin: 5px; border: 1px solid red; padding: 5px; border-radius:8px;" class="avatarEdit">
                                        </div>
                                        <div *ngIf="identity && pago.transf_pdf ">
                                            <a href="{{storage + 'pago/' + pago.transf_pdf}}" target="_blank">
                                                <img src="./assets/images/pdf-icon.png " style="width: 10%; margin: 5px; border: 1px solid green; padding: 5px; border-radius:8px;" class="avatarEdit ">
                                                <p>Nombre Archivo: <b>{{pago.transf_pdf}}</b> </p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="especificaciones">
                                            <h4>{{'Especificaciones'|translate}}:</h4>
                                            <ul>
                                                <li>{{'Peso máximo'|translate}}: 2 mb </li>
                                                <li>{{'Formato permitido'|translate}}: pdf</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <angular-file-uploader [config]="pagoConfig" (ApiResponse)="avatarUpload2($event)">
                                        </angular-file-uploader>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="clear "></div>
                        <div class="form-group form-row ">
                            <div class="col-12 ">
                                <input type="hidden" formControlName="id">
                                <button type="submit" class="btn btn-outline-success">{{'Guardar'|translate}}</button>

                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>