<div class=" animated fadeInUp" *ngIf="userpost && userpost.name | keys; let i = index">
    <p *ngIf="!isEdit">
        Nada para editar
    </p>
    <!---infoPersonal tope-->
    <div class="row" style="padding: 0 20px" *ngIf="isEdit && userpost && userpost.name | keys">
        <div class="col-12 col-md-12">
            <div class="card cajita" style="background-image:url('./assets/images/background/latinoamerica-america-latina.jpg'); background-size:cover;  background-attachment: fixed;">
                <div class="d-flex flexilineacion ">
                    <div class="align-self-center ">
                        <div class="u-img" *ngIf="userpost.image">
                            <img src="{{url + 'user/avatar/' + userpost.image}}" class="img-circle shadow" width="100" style="margin-bottom: 20px" />
                        </div>
                        <div class="u-img" *ngIf="!userpost.image">
                            <img src="./assets/images/logo.jpg" class="img-circle shadow" width="100" style="margin-bottom: 20px">
                        </div>
                        <h4 class="card-title">{{ userpost.name + ' ' + userpost.surname}}</h4>

                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-12 text-right" *ngIf="estados">
            {{'Estatus'|translate}}: {{ userpost.status_id }}<i class="fa  {{ estados.icon }} float-right  " [ngClass]="estados.color"></i>
            <!--estado lista-->
            <div class="estadosinfo">
                <form #userEstado="ngForm" (ngSubmit)="onSubmit(userEstado)">
                    <div class="form-group form-inline">
                        <label for="status_id">{{'Estatus'|translate}}</label>
                        <select name="status_id" #status_id="ngModel" [(ngModel)]="user.status_id" class="form-control ">
                        <option *ngFor="let estado of estados | slice:1:2" value="{{estado.id}}">
                          {{estado.name}}
                        </option>
                      </select>
                    </div>
                    <input type="submit" value="Guardar" class="btn btn-success" [disabled]="userEstado.invalid" />
                </form>
            </div>
            <!--//estado lista-->
        </div>
        <div class="clear"></div><br><br>
        <div class="rayita "></div>
        <h4 class="col-12">{{'Información personal' | translate}}</h4> <br>
        <div class="clear"></div>
        <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Nombre' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.name }}</p>
        </div>
        <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Apellido' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.surname }}</p>
        </div>
        <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Pais' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.pais }}</p>
        </div>

        <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Número de pasaporte' | translate}} </strong>
            <br>
            <p class="text-muted">{{ userpost.pasaporte }}</p>
        </div>
    </div>

    <div class="clear"></div>

    <!---infoPersonal -->
    <div class="row " style="padding: 0 20px">
        <div class="col-md-3 col-xs-6 b-r"> <strong> {{'Fecha de nacimiento' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.fecha_nac }}</p>
        </div>
        <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Edad' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.edad }}</p>
        </div>
        <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Lugar de nacimiento' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.lugar_nac }}</p>
        </div>
        <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Nacionalidad' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.nacionalidad }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>{{'Dirección de contacto' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.direccion }}</p>
        </div>
        <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Teléfono' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.telefono }}</p>
        </div>
        <div class="col-md-3 col-xs-6 b-r"> <strong> {{'Código postal' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.cod_postal }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>{{'Correo electrónico' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.email }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>{{'País de ejercicio profesional' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.pais_ejerce }}</p>
        </div>


    </div>


    <div class="clear"></div>

    <div class="rayita "></div>

    <!--- redes sociales-->
    <div class="row redes" style="padding: 0 20px">

        <h2 class="col-12"> {{'Redes sociales' | translate}}</h2><br>
        <div class="clear"></div>


        <div class="container">
            <div class="col-12 col-sm-4 shadow">
                <div class="card ">
                    <div class="card-body">

                        <p><b>{{'Red social' | translate}}:</b></p><br>
                        <p>{{user.red_social}}</p><br>
                        <p><b>{{'Usuario' | translate}}:</b></p>
                        <p>{{user.user_red}}</p>

                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="clear"></div>
    <div class="rayita rayita2"></div>

    <!--Constancias-->
    <div class="row" style="padding: 0 20px">
        <h2 class="col-12">{{'Constancias' | translate}}</h2><br>
        <div class="clear"></div>
    </div>

    <!-- constancia de pago-->
    <div class="row" style="padding: 0 20px" *ngFor="let userpost of userpost.pagos; let i=index">

        <h2 class="col-12"> {{'Constancia de pago' | translate}}</h2><br>
        <div class="clear"></div>
        <div class="col-md-6 col-xs-6 b-r"> <strong> {{'Transferencia banco' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.transf_banco }}</p>
        </div>
        <div class="col-md-6 col-xs-6 "> <strong> {{'Transferencia fecha' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.transf_fecha | date }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong> {{'Transferencia número' | translate}}</strong>
            <br>
            <p class="text-muted">{{ userpost.transf_numero }}</p>
        </div>
        <div class="col-md-6 col-xs-6 "> <strong> {{'Documento transferencia' | translate}}</strong>
            <div class="pdffile">
                <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">
                <p><b> {{'Nombre del archivo' | translate}}:</b>
                    <a href="{{storage + 'pago/' + userpost.transf_pdf}}" target="_blank">{{ userpost.transf_pdf }}</a>
                </p>
            </div>
        </div>

        <div class="col-12 text-right">
            {{'Estatus' | translate}}: {{ userpost.transf_pdf_status_id }} <i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
        </div>

    </div>
    <div class="clear"></div><br><br>
    <div class="rayita rayita2"></div>

    <!---Documentos profesionales--->

    <div class="row" style="padding: 0 20px" *ngFor="let userpost of userpost.documentos; let i=index">
        <h2 class="col-12"> {{'Documentos profesionales' | translate}}</h2><br>
        <div class="clear"></div>
        <div class="col-md-6 col-xs-6 b-r"> <strong> {{'Título universitario de odontólogo' | translate}}</strong>
            <div class="pdffile">
                <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">
                <p class="text-muted">
                    <a href="{{storage + 'documentos/' + userpost.pdf_titulo_odontologo}}" target="_blank">
                    {{ userpost.pdf_titulo_odontologo }}
                  </a>
                </p>
            </div>
            <div class="col-12 text-right">
                Estatus: {{ userpost.pdf_titulo_odontologo_status_id }} <i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong> {{'Cédula, matrícula o colegiatura oficial de odontólogo' | translate}}</strong>
            <div class="pdffile">
                <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">
                <p class="text-muted">
                    <a href="{{storage + 'documentos/' + userpost.pdf_matricula_odontologo}}" target="_blank">
                    {{ userpost.pdf_titulo_odontologo }}
                  </a>
                </p>
            </div>
            <div class="col-12 text-right">
                Estatus: {{ userpost.pdf_matricula_odontologo_status_id }}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong> {{'Título de especialista en cirugía bucomaxilofacial' | translate}}</strong>
            <div class="pdffile">
                <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">
                <p class="text-muted">
                    <a href="{{storage + 'documentos/' + userpost.pdf_titulo_espec_bucomax}}" target="_blank">
                    {{ userpost.pdf_titulo_espec_bucomax }}
                  </a>
                </p>
            </div>
            <div class="col-12 text-right">
                Estatus: {{ userpost.pdf_titulo_espec_bucomax_status_id }}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 "> <strong>{{'Cédula o matrícula oficial en cirugía bucomaxilofacial' | translate}}</strong>
            <div class="pdffile">
                <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">

                <p class="text-muted">
                    <a href="{{storage + 'documentos/' + userpost.pdf_matricula_bucomax}}" target="_blank">
                    {{ userpost.pdf_matricula_bucomax }}
                  </a>
                </p>
            </div>
            <div class="col-12 text-right">
                Estatus: {{ userpost.pdf_matricula_bucomax_status_id }}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>{{'Constancia de haber realizado una residencia de especialización' | translate}}</strong>
            <div class="pdffile">
                <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">
                <p class="text-muted">
                    <a href="{{storage + 'documentos/' + userpost.pdf_residencia_especializacion}}" target="_blank">
                    {{ userpost.pdf_residencia_especializacion }}
                  </a>
                </p>
            </div>
            <div class="col-12 text-right">
                Estatus: {{ userpost.pdf_residencia_especializacion_status_id }}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>{{'Constancia de miembro activo de su sociedad o asociación' | translate}}</strong>
            <div class="pdffile">
                <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">
                <p class="text-muted">
                    <a href="{{storage + 'documentos/' + userpost.pdf_constancia_miembro}}" target="_blank">
                    {{ userpost.pdf_constancia_miembro }}
                  </a>
                </p>
            </div>
            <div class="col-12 text-right">
                Estatus: {{ userpost.pdf_constancia_miembro_status_id }}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
            </div>
        </div>

    </div>
    <div class="clear"></div><br><br>
    <div class="rayita rayita2"></div>


    <!--Conferencias y trabajos -->
    <div class="row" style="padding: 0 20px">
        <div>
            <div class="row sliderpreguntas" style="padding: 0 20px">
                <h2 class="col-12"> {{'Conferencias y trabajos' | translate}}</h2><br>
                <div class="clear"></div>

                <div class="container  ">
                    <carousel [(activeSlide)]="activeSlideIndex">
                        <slide *ngFor="let userpost of userpost.conferencias  let i=index">
                            <div class="row">
                                <div class="col-md-4 col-xs-6 b-r"> <strong> {{'Conferencia con aval de Alacibu' | translate}}</strong>
                                    <br>
                                    <p class="text-muted">{{userpost.conf_con_aval_academico_titulo}}</p>
                                </div>
                                <div class="col-md-4 col-xs-6 b-r"> <strong> {{'Evento en el que fue presentado' | translate}}</strong>
                                    <br>
                                    <p class="text-muted">{{userpost.conf_con_aval_academico_evento}}</p>
                                </div>
                                <div class="col-md-4 col-xs-6 "> <strong> {{'Documento pdf' | translate}}</strong>
                                    <div class="pdffile">
                                        <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">
                                        <a href="{{storage + 'conferencia/' + userpost.conf_con_aval_academico_pdf}}" target="_blank">
                                          {{ userpost.conf_con_aval_academico_pdf }}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    {{'Estatus' | translate}}: {{userpost.conf_con_aval_academico_status_id}}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div>

            </div>

            <div class="clear"></div><br><br>
            <div class="rayita"></div>

            <div class="container  ">
                <carousel [(activeSlide)]="activeSlideIndex">
                    <slide *ngFor="let userpost of userpost.conferencias; let i=index">
                        <div class="row">
                            <div class="col-md-4 col-xs-6 b-r"> <strong> {{'Conferencia sin aval de Alacibu' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.conf_sin_aval_academico_titulo}}</p>
                            </div>
                            <div class="col-md-4 col-xs-6 "> <strong> {{'Evento en el que fue presentado' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.conf_sin_aval_academico_evento}}</p>
                            </div>
                            <div class="col-md-4 col-xs-6 "> <strong> {{'Documento pdf' | translate}}</strong>
                                <div class="pdffile">
                                    <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">

                                    <a href="{{storage + 'conferencia/' + userpost.conf_sin_aval_academico_pdf}}" target="_blank">
                                      {{ userpost.conf_sin_aval_academico_pdf }}
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                Estatus: {{userpost.conf_sin_aval_academico_status_id}}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>


            <div class="clear"></div><br><br>
            <div class="rayita "></div>

            <div class="container  ">
                <carousel [(activeSlide)]="activeSlideIndex">
                    <slide *ngFor="let userpost of userpost.conferencias; let i=index">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong> {{'Trabajo con aval de Alacibu' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.trab_pres_con_aval_titulo}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Evento en el que fue presentado' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.trab_pres_con_aval_evento}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 "> <strong>{{'Modalidad' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.trab_pres_con_aval_modalidad}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 "> <strong> {{'Documento pdf' | translate}}</strong>
                                <div class="pdffile">
                                    <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">

                                    <a href="{{storage + 'conferencia/' + userpost.trab_pres_con_aval_pdf}}" target="_blank">
                                      {{ userpost.trab_pres_con_aval_pdf }}
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                Estatus: {{userpost.trab_pres_con_aval_status_id}}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>

            <div class="clear"></div><br><br>
            <div class="rayita "></div>

            <div class="container  ">
                <carousel [(activeSlide)]="activeSlideIndex">
                    <slide *ngFor="let userpost of userpost.conferencias; let i=index">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong> {{'Trabajo sin aval de Alacibu' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.trab_pres_sin_aval_titulo}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong> {{'Evento en el que fue presentado' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.trab_pres_sin_aval_evento}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 "> <strong> {{'Modalidad' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.trab_pres_sin_aval_modalidad}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 "> <strong> {{'Documento pdf' | translate}}</strong>
                                <div class="pdffile">
                                    <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">

                                    <a href="{{storage + 'conferencia/' + userpost.trab_pres_sin_aval_pdf}}" target="_blank">
                                      {{ userpost.trab_pres_sin_aval_pdf }}
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                {{'Estatus' | translate}}: {{userpost.trab_pres_sin_aval_status_id}}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>


            <div class="clear"></div><br><br>
            <div class="rayita "></div>

            <div class="container  ">
                <carousel [(activeSlide)]="activeSlideIndex">
                    <slide *ngFor="let userpost of userpost.conferencias; let i=index">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Nombre del trabajo' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.trab_publicados_nombre}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>{{'Año de publicación' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.trab_publicados_ano}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 "> <strong>{{'Revista científica' | translate}}</strong>
                                <br>
                                <p class="text-muted">{{userpost.trab_publicados_revisa}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 "> <strong>{{'Documento pdf' | translate}}</strong>
                                <div class="pdffile">
                                    <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">

                                    <a href="{{storage + 'conferencia/' + userpost.trab_publicados_pdf}}" target="_blank">
                                      {{ userpost.trab_publicados_pdf }}
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                Estatus: {{userpost.trab_publicados_status_id}}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>

        </div>
    </div>
    <div class="clear"></div><br><br>
    <div class="rayita "></div>

    <!--Certificados-->
    <div class="row sliderpreguntas" style="padding: 0 20px">
        <h3 class="col-12">{{'Certificados' | translate}}</h3><br><br>
        <div class="clear"></div>


        <div style="padding: 0 20px">
            <div class="container sliderpreguntas">
                <h3 class="col-12"> {{'Certificados de asistencia cursos y congresos afines a la especialidad avalados por Alacibu.' | translate}}</h3><br>
                <div class="clear"></div>

                <div class="container">
                    <carousel [(activeSlide)]="activeSlideIndex">
                        <slide *ngFor="let userpost of userpost.certificados; let i=index">
                            <div class="row">
                                <div class="col-md-4 col-xs-6 b-r"> <strong> {{'Nombre del evento' | translate}}</strong>
                                    <br>
                                    <p class="text-muted">{{userpost.cert_asist_avalados_nombre}}</p>
                                </div>
                                <div class="col-md-4 col-xs-6 b-r"> <strong> {{'Año' | translate}}</strong>
                                    <br>
                                    <p class="text-muted">{{userpost.cert_asist_avalados_ano}}</p>
                                </div>
                                <div class="col-md-4 col-xs-6 b-r"> <strong> {{'Institución que lo avala' | translate}}</strong>
                                    <br>
                                    <p class="text-muted">{{userpost.cert_asist_avalados_otrasinst}}</p>
                                </div>
                                <div class="col-md-6 col-xs-6 b-r"> <strong> {{'Horas crédito' | translate}}</strong>
                                    <br>
                                    <p class="text-muted">{{userpost.cert_asist_avalados_horas}}</p>
                                </div>
                                <div class="col-md-6 col-xs-6 "> <strong>{{'Documento pdf' | translate}}</strong>
                                    <div class="pdffile">
                                        <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">
                                        <p>{{userpost.cert_asist_avalados_pdf}}</p>
                                        <a href="{{storage + 'certificado/' + userpost.cert_asist_avalados_pdf}}" target="_blank">
                                          {{ userpost.cert_asist_avalados_pdf }}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    {{'Estatus' | translate}}: {{userpost.cert_asist_avalados_status_id}}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div>




            </div>
            <div class="clear"></div><br>
            <div class="rayita"></div>
            <div class="container sliderpreguntas">
                <h3 class="col-12"> {{'Certificados de asistencia cursos y congresos afines a la especialidad no avalados por Alacibu.' | translate}}</h3><br>
                <div class="clear"></div>

                <div class="container">
                    <carousel [(activeSlide)]="activeSlideIndex">
                        <slide *ngFor="let userpost of userpost.certificados; let i=index">
                            <div class="row">
                                <div class="col-md-4 col-xs-6 b-r"> <strong> {{'Nombre del evento' | translate}}</strong>
                                    <br>
                                    <p class="text-muted">{{ userpost.cert_asist_no_avalados_nombre }}</p>
                                </div>
                                <div class="col-md-4 col-xs-6 b-r"> <strong>{{'Año' | translate}}</strong>
                                    <br>
                                    <p class="text-muted">{{ userpost.cert_asist_no_avalados_ano }}</p>
                                </div>
                                <div class="col-md-4 col-xs-6 b-r"> <strong>{{'Institución que lo avala' | translate}}</strong>
                                    <br>
                                    <p class="text-muted">{{ userpost.cert_asist_no_avalados_otrasinst }}</p>
                                </div>
                                <div class="col-md-6 col-xs-6 b-r"> <strong>{{'Horas crédito' | translate}}</strong>
                                    <br>
                                    <p class="text-muted">{{ userpost.cert_asist_no_avalados_horas }}</p>
                                </div>
                                <div class="col-md-6 col-xs-6 "> <strong> {{'Documento pdf' | translate}}</strong>
                                    <div class="pdffile">
                                        <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">
                                        <a href="{{storage + 'certificado/' + userpost.cert_asist_no_avalados_pdf}}" target="_blank">
                                          {{ userpost.cert_asist_no_avalados_pdf }}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    {{'Estatus' | translate}}: {{ userpost.cert_asist_no_avalados_status_id }}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div>


            </div>
            <div class="clear"></div><br>
            <div class="rayita"></div>

            <div class="row" *ngFor="let userpost of userpost.certificados; let i=index">
                <h3 class="col-12">{{'Certificados o diplomas de actividades académicas.' | translate}}</h3><br>
                <div class="clear"></div>
                <div class="col-md-4 col-xs-6 b-r"> <strong>{{'Nombre de la institución' | translate}} </strong>
                    <br>
                    <p class="text-muted">{{ userpost.cert_o_diploma_academico_nombre }}</p>
                </div>
                <div class="col-md-4 col-xs-6 b-r"> <strong>{{'Cargo desempeñado' | translate}}</strong>
                    <br>
                    <p class="text-muted">{{ userpost.cert_o_diploma_academico_cargo }}</p>
                </div>
                <div class="col-md-4 col-xs-6 b-r"> <strong>{{'Años' | translate}}</strong>
                    <br>
                    <p class="text-muted">{{ userpost.cert_o_diploma_academico_tiempo }}</p>
                </div>
                <div class="col-md-6 col-xs-6 b-r"> <strong>{{'Institución que lo avala' | translate}}</strong>
                    <br>
                    <p class="text-muted">{{ userpost.cert_o_diploma_academico_otrasinst }}</p>
                </div>
                <div class="col-md-6 col-xs-6 "> <strong>{{'Documento pdf' | translate}}</strong>
                    <div class="pdffile">
                        <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">

                        <a href="{{storage + 'certificado/' + userpost.cert_o_diploma_academico_pdf}}" target="_blank">
                          {{ userpost.cert_o_diploma_academico_pdf }}
                        </a>
                    </div>
                </div>
                <div class="col-12 text-right">
                    {{'Estatus' | translate}}: {{ userpost.cert_o_diploma_academico_status_id }} <i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
                </div>
            </div>

            <div class="clear"></div><br>
            <div class="rayita"></div>

            <div class="row" *ngFor="let userpost of userpost.certificados; let i=index">
                <h3 class="col-12">{{'Certificados o diplomas de actividades asistenciales.' | translate}}</h3><br>
                <div class="clear"></div>
                <div class="col-md-4 col-xs-6 b-r"> <strong>{{'Nombre de la institución' | translate}} </strong>
                    <br>
                    <p class="text-muted">{{ userpost.cert_o_diploma_asistencial_nombre }}</p>
                </div>
                <div class="col-md-4 col-xs-6 b-r"> <strong>{{'Cargo desempeñado' | translate}}</strong>
                    <br>
                    <p class="text-muted">{{ userpost.cert_o_diploma_asistencial_cargo }}</p>
                </div>
                <div class="col-md-4 col-xs-6 b-r"> <strong>{{'Años' | translate}}</strong>
                    <br>
                    <p class="text-muted">{{ userpost.cert_o_diploma_asistencial_tiempo }}</p>
                </div>
                <div class="col-md-6 col-xs-6 b-r"> <strong>{{'Institución que lo avala' | translate}}</strong>
                    <br>
                    <p class="text-muted">{{ userpost.cert_o_diploma_asistencial_otrasinst }}</p>
                </div>
                <div class="col-md-6 col-xs-6 "> <strong>{{'Documento pdf' | translate}}</strong>
                    <div class="pdffile">
                        <img src="./assets/images/pdf-icon.png" class="img-responsive radius imgpdf">

                        <a href="{{storage + 'certificado/' + userpost.cert_o_diploma_asistencial_pdf}}" target="_blank">
                          {{ userpost.cert_o_diploma_asistencial_pdf }}
                        </a>
                    </div>
                </div>
                <div class="col-12 text-right">
                    {{'Estatus' | translate}}: {{ userpost.cert_o_diploma_asistencial_status_id }}<i class="fa fa-circle float-right" style="color:red; font-size:20px; margin-left:10px"></i>
                </div>
            </div>
        </div>

    </div>

    <div class="clear"></div><br><br>


    <div class="rayita rayita2"></div>
    <div class="clear"></div><br><br>
    <div class="rayita "></div>
</div>